@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
html {
  color-scheme: dark;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#new-todo{
  width: 30%;
  padding: 10px;
  font-size: 1em;
}
.submit {
  padding: 10px 30px;
  margin: 10px;
  font-size: 1em;
}
.todo-list {
  font-weight: 200;
  margin: 10px;
}
.actions {
  padding: 10px 30px;
  margin: 10px 5px;
  font-size: 1em;
}